# config files #

*.config
*log*.csv
*weekly*.csv
.Rproj.user
*.cnf
dbbak.sh
weatherlog*
.Rhistory
sample.r 
.RData
.vscode/*
E*.csv
K*.csv
all*.png
All*.png
weekly*.png
Weekly*.png
*.pyc
month*.png
*.png

# Sensitive
*pdf
*PDF
*ftp*
*compare*.png
xfer.sh

dumps/*.sql
